In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import random

In [31]:
#it is better to import this lib:
import html5lib

In [32]:
url2= 'https://www.thebalance.com/oil-price-history-3306200'

In [33]:
#We use the read_html method of the Pandas library to read the HTML tables.this will return a list of df.
#skiprows skip anyrow we wish, here we set it to 0 because we need all of it(we dont need it here).
#header makes the heads of the columns
# we need to add [0] if need to select first item of returened list, because read_html return list of DataFrames:

 
df_list = pd.read_html(url2, header=0)[0]
df_list

    Year  Average     Low     High                                      Causes
0   1970    $2.96    N.A.     N.A.                            Regulated prices
1   1971    $3.17    N.A.     N.A.                                         NaN
2   1972    $3.22    N.A.     N.A.                                         NaN
3   1973    $4.08    N.A.     N.A.                                         NaN
4   1974   $12.52   $9.59   $13.06                      OPEC oil embargo ended
5   1975   $13.95  $12.77   $15.04                                 Stagflation
6   1976   $13.48  $13.26   $13.71                           Economy recovered
7   1977   $14.53  $14.11   $14.76                Fed raised and lowered rates
8   1978   $14.57  $14.40   $14.94                Fed raised and lowered rates
9   1979   $21.57  $15.50   $28.91                 Iran-Iraq War, fed rate 20%
10  1980   $33.86  $30.75   $35.63                            Iran oil embargo
11  1981   $37.10  $35.43   $39.00                            Reagan cut taxes
12  1982   $33.57  $32.78   $35.54                    Recession ends inflation
13  1983   $29.31  $27.95   $31.40                                         NaN
14  1984   $28.88  $28.02   $29.26                                         NaN
15  1985   $26.99  $26.21   $27.59                                         NaN
16  1986   $13.93  $10.91   $24.93                                         NaN
17  1987   $18.14  $16.45   $19.32                        OPEC added to supply
18  1988   $14.60  $12.66   $15.93                                         NaN
19  1989   $18.07  $16.04   $20.05                                         NaN
20  1990   $21.73  $15.15   $32.88                                    Gulf War
21  1991   $18.73  $17.17   $22.30                            SPR released oil
22  1992   $18.21  $16.00   $19.83                                         NaN
23  1993   $16.13  $12.56   $18.35                                         NaN
24  1994   $15.54  $12.90   $17.52         NAFTA allowed cheap oil from Mexico
25  1995   $17.14  $16.29   $18.56                                         NaN
26  1996   $20.62  $17.48   $23.22                                         NaN
27  1997   $18.49  $15.95   $23.02                                         NaN
28  1998   $12.07   $9.39   $14.33                                         NaN
29  1999   $17.27  $10.16   $24.35                              Prices doubled
30  2000   $27.72  $24.29   $30.56                                         NaN
31  2001   $21.99  $15.95   $24.97                          Recession and 9/11
32  2002   $23.71  $17.04   $27.14                             Afghanistan War
33  2003   $27.73  $24.48   $32.23                                         NaN
34  2004   $35.89  $30.11   $45.36                                         NaN
35  2005   $48.89  $37.56   $58.79                           Hurricane Katrina
36  2006   $59.05  $52.70   $67.99                  Bernanke becomes Fed chair
37  2007   $67.19  $49.57   $85.53                              Banking crisis
38  2008   $92.57  $35.59  $127.77                            Financial crisis
39  2009   $59.04  $36.84   $74.40                             Great Recession
40  2010   $75.83  $71.15   $85.59                                         NaN
41  2011  $102.58  $87.61  $113.02                                         NaN
42  2012  $101.09  $92.18  $108.54           Iran threatened Straits of Hormuz
43  2013   $98.12  $90.36  $104.16                                         NaN
44  2014   $89.63  $57.36  $100.26                         The dollar rose 15%
45  2015   $46.34  $33.16   $58.89                    U.S. shale oil increased
46  2016   $38.70  $26.66   $46.72                                 Dollar fell
47  2017   $48.98  $44.03   $57.44   OPEC cut oil supply to keep prices stable
48  2018   $61.34  $42.80   $67.79                                         NaN
49  2019   $57.94  $49.57   $65.42                                         NaN
50  2020   $26.10  $53.62   $16.35  As of April 2020. Pandemic reduced demand.

In [34]:
# to drop column:
df = df_list.drop(['Causes'], axis=1)

In [35]:
#to drop rows:
df1 = df.drop([0, 1, 2, 3])
df1

    Year  Average     Low     High
4   1974   $12.52   $9.59   $13.06
5   1975   $13.95  $12.77   $15.04
6   1976   $13.48  $13.26   $13.71
7   1977   $14.53  $14.11   $14.76
8   1978   $14.57  $14.40   $14.94
9   1979   $21.57  $15.50   $28.91
10  1980   $33.86  $30.75   $35.63
11  1981   $37.10  $35.43   $39.00
12  1982   $33.57  $32.78   $35.54
13  1983   $29.31  $27.95   $31.40
14  1984   $28.88  $28.02   $29.26
15  1985   $26.99  $26.21   $27.59
16  1986   $13.93  $10.91   $24.93
17  1987   $18.14  $16.45   $19.32
18  1988   $14.60  $12.66   $15.93
19  1989   $18.07  $16.04   $20.05
20  1990   $21.73  $15.15   $32.88
21  1991   $18.73  $17.17   $22.30
22  1992   $18.21  $16.00   $19.83
23  1993   $16.13  $12.56   $18.35
24  1994   $15.54  $12.90   $17.52
25  1995   $17.14  $16.29   $18.56
26  1996   $20.62  $17.48   $23.22
27  1997   $18.49  $15.95   $23.02
28  1998   $12.07   $9.39   $14.33
29  1999   $17.27  $10.16   $24.35
30  2000   $27.72  $24.29   $30.56
31  2001   $21.99  $15.95   $24.97
32  2002   $23.71  $17.04   $27.14
33  2003   $27.73  $24.48   $32.23
34  2004   $35.89  $30.11   $45.36
35  2005   $48.89  $37.56   $58.79
36  2006   $59.05  $52.70   $67.99
37  2007   $67.19  $49.57   $85.53
38  2008   $92.57  $35.59  $127.77
39  2009   $59.04  $36.84   $74.40
40  2010   $75.83  $71.15   $85.59
41  2011  $102.58  $87.61  $113.02
42  2012  $101.09  $92.18  $108.54
43  2013   $98.12  $90.36  $104.16
44  2014   $89.63  $57.36  $100.26
45  2015   $46.34  $33.16   $58.89
46  2016   $38.70  $26.66   $46.72
47  2017   $48.98  $44.03   $57.44
48  2018   $61.34  $42.80   $67.79
49  2019   $57.94  $49.57   $65.42
50  2020   $26.10  $53.62   $16.35

In [36]:
df1.dtypes

Year        int64
Average    object
Low        object
High       object
dtype: object

In [37]:
# we applied this function to get rid of $ signs:
df1.Average = df1.Average.str.replace('$','').astype(float)
df1.Low = df1.Low.str.replace('$','').astype(float)
df1.High = df1.High.str.replace('$','').astype(float)
df1

    Year  Average    Low    High
4   1974    12.52   9.59   13.06
5   1975    13.95  12.77   15.04
6   1976    13.48  13.26   13.71
7   1977    14.53  14.11   14.76
8   1978    14.57  14.40   14.94
9   1979    21.57  15.50   28.91
10  1980    33.86  30.75   35.63
11  1981    37.10  35.43   39.00
12  1982    33.57  32.78   35.54
13  1983    29.31  27.95   31.40
14  1984    28.88  28.02   29.26
15  1985    26.99  26.21   27.59
16  1986    13.93  10.91   24.93
17  1987    18.14  16.45   19.32
18  1988    14.60  12.66   15.93
19  1989    18.07  16.04   20.05
20  1990    21.73  15.15   32.88
21  1991    18.73  17.17   22.30
22  1992    18.21  16.00   19.83
23  1993    16.13  12.56   18.35
24  1994    15.54  12.90   17.52
25  1995    17.14  16.29   18.56
26  1996    20.62  17.48   23.22
27  1997    18.49  15.95   23.02
28  1998    12.07   9.39   14.33
29  1999    17.27  10.16   24.35
30  2000    27.72  24.29   30.56
31  2001    21.99  15.95   24.97
32  2002    23.71  17.04   27.14
33  2003    27.73  24.48   32.23
34  2004    35.89  30.11   45.36
35  2005    48.89  37.56   58.79
36  2006    59.05  52.70   67.99
37  2007    67.19  49.57   85.53
38  2008    92.57  35.59  127.77
39  2009    59.04  36.84   74.40
40  2010    75.83  71.15   85.59
41  2011   102.58  87.61  113.02
42  2012   101.09  92.18  108.54
43  2013    98.12  90.36  104.16
44  2014    89.63  57.36  100.26
45  2015    46.34  33.16   58.89
46  2016    38.70  26.66   46.72
47  2017    48.98  44.03   57.44
48  2018    61.34  42.80   67.79
49  2019    57.94  49.57   65.42
50  2020    26.10  53.62   16.35

In [38]:
# we only select the last 31 entries, so we drop the first rows. We also drop the other two columns:
df2 = df1.drop([4, 5, 6, 7, 8,9,10,11,12,13,14,15,16,17,18])
df2 = df1.drop(['Low', 'High'], axis=1)

df2

    Year  Average
4   1974    12.52
5   1975    13.95
6   1976    13.48
7   1977    14.53
8   1978    14.57
9   1979    21.57
10  1980    33.86
11  1981    37.10
12  1982    33.57
13  1983    29.31
14  1984    28.88
15  1985    26.99
16  1986    13.93
17  1987    18.14
18  1988    14.60
19  1989    18.07
20  1990    21.73
21  1991    18.73
22  1992    18.21
23  1993    16.13
24  1994    15.54
25  1995    17.14
26  1996    20.62
27  1997    18.49
28  1998    12.07
29  1999    17.27
30  2000    27.72
31  2001    21.99
32  2002    23.71
33  2003    27.73
34  2004    35.89
35  2005    48.89
36  2006    59.05
37  2007    67.19
38  2008    92.57
39  2009    59.04
40  2010    75.83
41  2011   102.58
42  2012   101.09
43  2013    98.12
44  2014    89.63
45  2015    46.34
46  2016    38.70
47  2017    48.98
48  2018    61.34
49  2019    57.94
50  2020    26.10

In [39]:
df2.dtypes

Year         int64
Average    float64
dtype: object

In [40]:
df2

    Year  Average
4   1974    12.52
5   1975    13.95
6   1976    13.48
7   1977    14.53
8   1978    14.57
9   1979    21.57
10  1980    33.86
11  1981    37.10
12  1982    33.57
13  1983    29.31
14  1984    28.88
15  1985    26.99
16  1986    13.93
17  1987    18.14
18  1988    14.60
19  1989    18.07
20  1990    21.73
21  1991    18.73
22  1992    18.21
23  1993    16.13
24  1994    15.54
25  1995    17.14
26  1996    20.62
27  1997    18.49
28  1998    12.07
29  1999    17.27
30  2000    27.72
31  2001    21.99
32  2002    23.71
33  2003    27.73
34  2004    35.89
35  2005    48.89
36  2006    59.05
37  2007    67.19
38  2008    92.57
39  2009    59.04
40  2010    75.83
41  2011   102.58
42  2012   101.09
43  2013    98.12
44  2014    89.63
45  2015    46.34
46  2016    38.70
47  2017    48.98
48  2018    61.34
49  2019    57.94
50  2020    26.10

In [49]:
oil = df2.loc[21:,]
oil

    Year  Average
21  1991    18.73
22  1992    18.21
23  1993    16.13
24  1994    15.54
25  1995    17.14
26  1996    20.62
27  1997    18.49
28  1998    12.07
29  1999    17.27
30  2000    27.72
31  2001    21.99
32  2002    23.71
33  2003    27.73
34  2004    35.89
35  2005    48.89
36  2006    59.05
37  2007    67.19
38  2008    92.57
39  2009    59.04
40  2010    75.83
41  2011   102.58
42  2012   101.09
43  2013    98.12
44  2014    89.63
45  2015    46.34
46  2016    38.70
47  2017    48.98
48  2018    61.34
49  2019    57.94
50  2020    26.10

In [50]:
oil.to_csv('final.oil_csv', index=False)

In [52]:
df_9 = pd.read_csv('final.oil_csv')
df_9

    Year  Average
0   1991    18.73
1   1992    18.21
2   1993    16.13
3   1994    15.54
4   1995    17.14
5   1996    20.62
6   1997    18.49
7   1998    12.07
8   1999    17.27
9   2000    27.72
10  2001    21.99
11  2002    23.71
12  2003    27.73
13  2004    35.89
14  2005    48.89
15  2006    59.05
16  2007    67.19
17  2008    92.57
18  2009    59.04
19  2010    75.83
20  2011   102.58
21  2012   101.09
22  2013    98.12
23  2014    89.63
24  2015    46.34
25  2016    38.70
26  2017    48.98
27  2018    61.34
28  2019    57.94
29  2020    26.10

In [55]:
# To rename the columns 
df_9.rename(columns={'Average':'Oil', 'Year':'Date'},inplace=True)

In [57]:
df_9

    Date     Oil
0   1991   18.73
1   1992   18.21
2   1993   16.13
3   1994   15.54
4   1995   17.14
5   1996   20.62
6   1997   18.49
7   1998   12.07
8   1999   17.27
9   2000   27.72
10  2001   21.99
11  2002   23.71
12  2003   27.73
13  2004   35.89
14  2005   48.89
15  2006   59.05
16  2007   67.19
17  2008   92.57
18  2009   59.04
19  2010   75.83
20  2011  102.58
21  2012  101.09
22  2013   98.12
23  2014   89.63
24  2015   46.34
25  2016   38.70
26  2017   48.98
27  2018   61.34
28  2019   57.94
29  2020   26.10

In [56]:
df_9.to_csv('final.oil_csv', index=False)

In [60]:
df_gold = pd.read_csv('gld_price_data.csv')
df_gold.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [61]:
set(df_gold['SLV'])

{8.86,
 9.98,
 10.14,
 11.95,
 10.75,
 10.5,
 12.75,
 15.902000000000001,
 16.382,
 17.780001000000002,
 18.709999,
 19.209999,
 17.23,
 18.01,
 15.285,
 15.59,
 16.061001,
 17.99,
 19.132998999999998,
 20.163,
 20.621,
 21.290001,
 22.34,
 23.49,
 24.030001000000002,
 25.629998999999998,
 26.200001,
 27.15,
 28.6,
 29.51,
 30.18,
 31.030001000000002,
 32.259997999999996,
 33.110001000000004,
 34.689999,
 35.23,
 36.470001,
 37.580002,
 38.34,
 39.209998999999996,
 41.07,
 42.419998,
 44.119999,
 45.540001000000004,
 47.0,
 47.259997999999996,
 45.830002,
 13.25,
 13.75,
 13.5,
 14.25,
 14.75,
 14.0,
 14.5,
 15.75,
 15.5,
 15.25,
 16.375,
 16.629998999999998,
 16.879998999999998,
 16.379998999999998,
 16.5,
 17.75,
 17.5,
 17.25,
 17.0,
 17.120001000000002,
 18.153999,
 18.120001000000002,
 18.129998999999998,
 18.25,
 18.620001000000002,
 19.620001000000002,
 19.120001000000002,
 18.379998999999998,
 19.5,
 18.0,
 20.879998999999998,
 20.620001000000002,
 20.5,
 19.0,
 20.0,
 21.620001000000002,
 21.879998999999998,
 21.870001000000002,
 21.75,
 21.0,
 22.620001000000002,
 22.379998999999998,
 22.129998999999998,
 21.129998999999998,
 23.120001000000002,
 23.0,
 24.25,
 25.0,
 26.870001000000002,
 26.129998999999998,
 26.370001000000002,
 26.120001000000002,
 26.879998999999998,
 27.870001000000002,
 27.120001000000002,
 26.25,
 27.370001000000002,
 27.620001000000002,
 28.870001000000002,
 28.0,
 28.129998999999998,
 28.379998999999998,
 28.25,
 29.870001000000002,
 29.0,
 28.120001000000002,
 28.370001000000002,
 29.75,
 30.0,
 30.870001000000002,
 29.370001000000002,
 29.379998999999998,
 31.379998999999998,
 31.120001000000002,
 31.370001000000002,
 32.5,
 32.0,
 32.75,
 32.509997999999996,
 32.009997999999996,
 33.509997999999996,
 33.0,
 33.25,
 33.5,
 32.990002000000004,
 34.259997999999996,
 34.0,
 33.740002000000004,
 33.259997999999996,
 33.759997999999996,
 35.009997999999996,
 35.75,
 35.509997999999996,
 35.5,
 34.009997999999996,
 36.509997999999996,
 38.009997999999996,
 38.759997999999996,
 13.94,
 13.44,
 13.69,
 13.19,
 14.44,
 40.0,
 15.19,
 15.44,
 15.94,
 15.69,
 43.0,
 16.077,
 16.952,
 16.0,
 16.75,
 16.25,
 18.75,
 19.25,
 20.25,
 32.630001,
 32.139998999999996,
 33.139998999999996,
 33.380001,
 33.130001,
 27.75,
 34.389998999999996,
 34.880001,
 34.630001,
 36.389998999999996,
 39.889998999999996,
 39.139998999999996,
 40.630001,
 42.630001,
 16.639999,
 16.889999,
 16.389999,
 16.514999,
 16.587,
 17.889999,
 17.639999,
 16.534000000000002,
 17.264999,
 17.26,
 18.639999,
 17.087,
 17.514999,
 18.014999,
 17.139999,
 18.26,
 18.889999,
 18.139999,
 19.139999,
 18.76,
 20.889999,
 19.01,
 19.51,
 19.26,
 20.01,
 21.51,
 21.76,
 22.889999,
 22.139999,
 23.389999,
 26.889999,
 27.389999,
 27.639999,
 27.26,
 28.51,
 28.639999,
 28.889999,
 28.389999,
 28.01,
 29.76,
 29.639999,
 29.139999,
 29.01,
 30.639999,
 30.76,
 17.812,
 31.26,
 31.889999,
 31.389999,
 31.01,
 31.639999,
 16.365999,
 16.940001000000002,
 9.64,
 9.89,
 10.64,
 11.89,
 12.89,
 12.14,
 17.940001000000002,
 13.89,
 13.14,
 13.64,
 14.14,
 14.64,
 14.89,
 15.64,
 15.39,
 15.14,
 15.89,
 17.664,
 9.58,
 18.99,
 11.33,
 12.33,
 12.83,
 13.83,
 13.58,
 13.08,
 14.08,
 14.58,
 14.83,
 15.08,
 15.58,
 15.83,
 15.33,
 16.18,
 17.43,
 9.52,
 9.77,
 10.77,
 10.27,
 12.77,
 12.52,
 13.52,
 13.77,
 13.27,
 14.52,
 14.02,
 15.02,
 15.52,
 15.77,
 15.27,
 16.02,
 16.27,
 16.77,
 17.246,
 17.52,
 17.77,
 17.27,
 17.02,
 18.27,
 18.52,
 18.02,
 18.77,
 19.52,
 19.02,
 19.77,
 19.27,
 20.27,
 20.52,
 21.77,
 21.02,
 22.02,
 22.27,
 23.02,
 25.52,
 26.27,
 27.27,
 28.77,
 28.02,
 29.52,
 29.77,
 31.77,
 31.27,
 16.65,
 16.818001000000002,
 16.625999,
 16.972,
 16.15,
 17.15,
 17.65,
 17.000999,
 17.476999,
 17.4,
 18.65,
 17.775,
 17.025,
 18.250999,
 17.9,
 19.4,
 18.000999,
 18.15,
 18.9,
 20.65,
 20.9,
 21.4,
 22.4,
 22.15,
 28.15,
 28.4,
 28.65,
 29.65,
 30.65,
 31.4,
 31.65,
 31.15,
 32.029999,
 32.77,
 32.52,
 32.529999,
 32.279999,
 33.02,
 33.029999,
 34.27,
 35.77,
 35.27,
 35.029999,
 36.529999,
 36.77,
 36.029999,
 37.52,
 38.27,
 39.029999,
 40.52,
 40.529999,
 44.029999,
 16.799999,
 16.049999,
 17.299999,
 17.049999,
 17.799999,
 18.799999,
 18.299999,
 19.549999,
 19.299999,
 16.870001000000002,
 16.620001000000002,
 16.370001000000002,
 16.120001000000002,
 17.870001000000002,
 17.620001000000002,
 17.370001000000002,
 18.870001000000002,
 19.370001000000002,
 20.370001000000002,
 16.554001,
 32.900002,
 32.41,
 33.650002,
 33.66,
 34.900002,
 34.400002,
 34.650002,
 37.41,
 38.650002,
 13.72,
 13.22,
 39.66,
 14.97,
 14.22,
 14.72,
 40.400002,
 15.22,
 15.97,
 15.47,
 15.72,
 10.16,
 11.41,
 12.91,
 12.66,
 13.66,
 13.16,
 14.66,
 14.41,
 14.91,
 15.91,
 15.66,
 15.16,
 15.41,
 16.280001000000002,
 16.030001000000002,
 16.41,
 16.780001000000002,
 16.530001000000002,
 17.256001,
 17.188999,
 17.030001000000002,
 17.91,
 17.16,
 18.780001000000002,
 18.530001000000002,
 18.91,
 18.66,
 18.41,
 19.280001000000002,
 19.030001000000002,
 19.780001000000002,
 18.280001000000002,
 19.66,
 20.66,
 20.91,
 20.780001000000002,
 20.41,
 19.16,
 21.530001000000002,
 21.780001000000002,
 21.16,
 21.41,
 22.780001000000002,
 22.280001000000002,
 23.280001000000002,
 26.530001000000002,
 27.91,
 27.030001000000002,
 28.030001000000002,
 28.280001000000002,
 28.66,
 28.41,
 29.530001000000002,
 29.66,
 29.780001000000002,
 30.780001000000002,
 31.530001000000002,
 31.66,
 31.91,
 9.1,
 11.85,
 11.1,
 12.6,
 12.85,
 13.6,
 13.85,
 13.1,
 13.35,
 14.35,
 14.1,
 14.6,
 14.85,
 15.35,
 15.1,
 15.6,
 15.85,
 11.29,
 12.79,
 12.54,
 13.54,
 13.79,
 13.29,
 14.79,
 14.04,
 14.54,
 15.04,
 15.79,
 15.54,
 15.29,
 16.610001,
 16.860001,
 17.860001,
 17.360001,
 33.419998,
 34.669998,
 34.919998,
 18.110001,
 36.169998,
 36.919998,
 36.669998,
 38.669998,
 39.169998,
 16.641001,
 16.540001,
 16.040001,
 16.790001,
 16.290001,
 17.290001,
 17.040001,
 17.540001,
 18.540001,
 18.040001,
 19.540001,
 19.290001,
 19.790001,
 19.040001,
 20.040001,
 20.290001,
 21.040001,
 22.290001,
 23.540001,
 26.290001,
 26.540001,
 27.790001,
 27.290001,
 27.540001,
 28.290001,
 29.290001,
 30.540001,
 30.790001,
 30.040001,
 31.790001,
 31.040001,
 31.540001,
 16.492001000000002,
 16.819000000000003,
 16.944000000000003,
 16.997,
 16.573999,
 16.299999,
 16.549999,
 16.674999,
 17.025999,
 16.67,
 18.545,
 18.049999,
 18.42,
 17.17,
 17.92,
 19.049999,
 18.67,
 18.92,
 19.67,
 19.42,
 20.299999,
 20.049999,
 20.17,
 20.92,
 19.17,
 21.049999,
 20.42,
 22.67,
 22.42,
 26.549999,
 26.299999,
 26.42,
 26.92,
 27.17,
 27.299999,
 27.42,
 27.049999,
 27.799999,
 28.42,
 28.92,
 29.049999,
 29.92,
 30.17,
 30.67,
 30.92,
 30.799999,
 31.17,
 31.049999,
 31.42,
 31.67,
 32.540001000000004,
 32.049999,
 32.290001000000004,
 33.040001000000004,
 33.549999,
 35.299999,
 35.540001000000004,
 35.290001000000004,
 37.799999,
 38.290001000000004,
 38.790001000000004,
 40.549999,
 41.049999,
 16.92,
 16.42,
 16.17,
 17.67,
 17.42,
 18.17,
 9.05,
 9.3,
 10.8,
 10.55,
 12.55,
 12.3,
 19.92,
 13.8,
 13.55,
 13.05,
 13.3,
 14.05,
 14.8,
 14.3,
 14.55,
 15.55,
 15.8,
 16.969998999999998,
 15.3,
 15.05,
 9.49,
 10.49,
 10.99,
 13.74,
 13.99,
 13.49,
 13.24,
 14.99,
 14.49,
 15.99,
 15.24,
 15.74,
 15.49,
 9.68,
 9.18,
 10.43,
 11.18,
 13.18,
 13.68,
 13.93,
 13.43,
 14.93,
 14.43,
 14.68,
 15.43,
 15.18,
 15.93,
 15.68,
 16.43,
 16.68,
 16.555,
 16.059998999999998,
 16.309998999999998,
 17.93,
 17.18,
 17.559998999999998,
 16.809998999999998,
 16.559998999999998,
 18.68,
 18.43,
 18.934998999999998,
 18.309998999999998,
 18.18,
 19.059998999999998,
 19.809998999999998,
 19.43,
 19.68,
 18.93,
 20.406,
 20.559998999999998,
 21.18,
 21.309998999999998,
 21.93,
 21.059998999999998,
 21.68,
 22.18,
 22.309998999999998,
 23.43,
 23.18,
 24.309998999999998,
 24.93,
 26.18,
 26.059998999999998,
 26.309998999999998,
 26.68,
 27.809998999999998,
 27.93,
 27.68,
 28.18,
 28.809998999999998,
 29.309998999999998,
 29.93,
 29.18,
 30.809998999999998,
 30.68,
 30.43,
 30.93,
 30.559998999999998,
 31.93,
 30.059998999999998,
 32.68,
 32.93,
 32.43,
 33.93,
 9.62,
 35.18,
 10.12,
 13.87,
 13.62,
 13.12,
 13.37,
 14.12,
 14.62,
 14.87,
 15.87,
 15.12,
 15.37,
 15.62,
 16.478001000000003,
 17.507,
 17.132,
 18.228001000000003,
 16.16,
 16.66,
 16.91,
 17.41,
 8.85,
 9.6,
 10.6,
 9.94,
 12.94,
 13.33,
 10.19,
 15.654000000000002,
 15.717,
 15.167,
 11.94,
 12.72,
 12.97,
 12.69,
 13.97,
 15.052999999999999,
 15.994000000000002,
 19.91,
 17.1,
 32.560001,
 32.689999,
 33.439999,
 34.439999,
 36.189999,
 38.310001,
 38.439999,
 38.560001,
 39.310001,
 16.642,
 17.916,
 17.267,
 19.666,
 9.38,
 11.38,
 12.13,
 12.63,
 12.88,
 13.38,
 14.63,
 14.13,
 14.88,
 14.38,
 15.63,
 15.13,
 15.88,
 15.38,
 10.32,
 10.82,
 12.32,
 12.57,
 12.07,
 13.57,
 13.82,
 14.32,
 14.82,
 14.57,
 15.82,
 15.57,
 15.32,
 15.07,
 16.440001000000002,
 16.07,
 16.690001000000002,
 16.190001000000002,
 16.82,
 17.190001000000002,
 17.440001000000002,
 17.32,
 17.690001000000002,
 16.32,
 18.32,
 18.07,
 18.57,
 18.190001000000002,
 18.690001000000002,
 19.32,
 18.440001000000002,
 18.940001000000002,
 19.190001000000002,
 19.07,
 20.421,
 20.940001000000002,
 20.690001000000002,
 20.190001000000002,
 21.690001000000002,
 22.690001000000002,
 22.440001000000002,
 22.57,
 22.190001000000002,
 23.07,
 24.07,
 26.940001000000002,
 26.32,
 27.440001000000002,
 27.690001000000002,
 27.07,
 27.82,
 27.940001000000002,
 28.57,
 28.07,
 28.82,
 28.940001000000002,
 29.82,
 29.190001000000002,
 29.440001000000002,
 30.440001000000002,
 30.690001000000002,
 30.940001000000002,
 30.32,
 31.940001000000002,
 31.82,
 31.190001000000002,
 32.82,
 32.57,
 33.32,
 33.57,
 9.51,
 36.32,
 11.51,
 12.26,
 13.76,
 13.51,
 39.57,
 39.82,
 14.76,
 14.51,
 16.4,
 15.01,
 15.51,
 15.26,
 15.76,
 9.45,
 9.7,
 10.95,
 10.2,
 10.45,
 11.2,
 12.95,
 12.45,
 13.45,
 13.7,
 13.95,
 14.95,
 14.7,
 14.2,
 15.7,
 15.45,
 16.09,
 15.2,
 15.95,
 17.84,
 17.34,
 16.58,
 16.08,
 16.503,
 16.700001,
 16.950001,
 17.950001,
 17.378,
 17.700001,
 17.08,
 17.200001,
 18.700001,
 18.450001,
 18.950001,
 18.08,
 17.33,
 19.33,
 19.450001,
 18.33,
 18.83,
 19.58,
 20.075001,
 20.83,
 20.08,
 20.33,
 21.950001,
 21.08,
 22.83,
 22.200001,
 23.33,
 26.83,
 26.700001,
 27.700001,
 27.950001,
 27.83,
 28.08,
 28.83,
 28.450001,
 28.200001,
 29.08,
 29.950001,
 30.200001,
 30.700001,
 30.33,
 17.033001000000002,
 30.450001,
 31.200001,
 31.33,
 31.08,
 30.83,
 32.709998999999996,
 32.959998999999996,
 32.450001,
 32.209998999999996,
 32.950001,
 33.200001,
 33.709998999999996,
 35.709998999999996,
 35.200001,
 40.450001,
 16.902,
 16.459999,
 16.709999,
 16.209999,
 17.959999,
 17.709999,
 17.459999,
 18.209999,
 18.959999,
 18.459999,
 20.709999,
 20.959999,
 20.459999,
 20.209999,
 21.709999,
 23.959999,
 23.459999,
 26.959999,
 26.709999,
 26.209999,
 27.209999,
 27.959999,
 27.459999,
 28.709999,
 29.459999,
 29.209999,
 29.959999,
 30.709999,
 30.209999,
 30.459999,
 31.209999,
 17.530001000000002,
 10.21,
 16.83,
 16.33,
 12.21,
 13.46,
 13.21,
 14.46,
 14.71,
 14.21,
 14.96,
 15.71,
 15.21,
 15.96,
 15.46,
 32.830002,
 32.330002,
 33.580002,
 33.330002,
 34.080002,
 9.4,
 9.9,
 35.830002,
 10.4,
 ...}

In [65]:
round_gold = df_gold.round(2)

In [66]:
set(round_gold['SLV'])

{8.86,
 9.98,
 10.75,
 11.95,
 10.5,
 13.45,
 12.75,
 13.25,
 16.37,
 17.32,
 17.23,
 18.01,
 17.48,
 16.82,
 16.06,
 17.03,
 19.13,
 20.16,
 20.62,
 21.29,
 22.34,
 23.49,
 24.03,
 25.63,
 26.2,
 27.15,
 28.6,
 29.51,
 30.18,
 31.03,
 32.26,
 33.11,
 34.69,
 35.23,
 36.47,
 37.58,
 38.34,
 39.21,
 41.07,
 42.42,
 44.12,
 45.54,
 47.0,
 47.26,
 43.0,
 44.03,
 45.83,
 13.75,
 13.5,
 14.25,
 14.75,
 14.0,
 14.5,
 15.75,
 15.5,
 15.25,
 16.5,
 16.0,
 16.75,
 16.25,
 17.75,
 17.25,
 17.0,
 17.5,
 18.25,
 18.0,
 18.75,
 19.5,
 19.0,
 19.25,
 20.5,
 20.0,
 20.25,
 21.75,
 21.0,
 23.0,
 24.25,
 25.0,
 26.25,
 27.75,
 28.0,
 28.25,
 29.0,
 29.75,
 30.0,
 32.5,
 32.0,
 32.75,
 33.0,
 33.25,
 33.5,
 34.0,
 35.75,
 35.5,
 12.69,
 13.69,
 13.19,
 13.94,
 13.44,
 14.44,
 40.0,
 15.19,
 15.44,
 15.94,
 15.69,
 16.38,
 16.63,
 16.88,
 16.13,
 17.13,
 17.38,
 17.88,
 17.63,
 18.13,
 18.38,
 18.63,
 18.88,
 19.38,
 19.88,
 20.88,
 20.63,
 21.88,
 21.13,
 22.38,
 22.13,
 26.13,
 26.88,
 28.13,
 28.38,
 29.38,
 31.38,
 32.63,
 32.51,
 32.01,
 33.51,
 33.26,
 33.38,
 33.13,
 33.76,
 34.26,
 34.88,
 34.01,
 34.63,
 35.01,
 35.51,
 36.51,
 38.01,
 38.76,
 40.63,
 42.63,
 16.51,
 16.26,
 16.76,
 16.01,
 17.76,
 17.51,
 17.26,
 17.01,
 18.26,
 18.76,
 19.01,
 19.51,
 19.26,
 20.01,
 21.51,
 21.76,
 27.26,
 28.51,
 28.01,
 29.76,
 29.01,
 30.76,
 31.26,
 31.01,
 9.64,
 9.89,
 10.64,
 10.14,
 11.89,
 12.14,
 12.89,
 13.89,
 13.14,
 13.64,
 14.14,
 14.64,
 14.89,
 15.64,
 15.39,
 15.14,
 15.89,
 16.14,
 16.89,
 16.39,
 16.64,
 17.14,
 17.89,
 17.64,
 18.64,
 18.89,
 18.14,
 19.14,
 19.39,
 20.89,
 22.89,
 22.14,
 23.39,
 26.89,
 27.39,
 27.64,
 28.39,
 28.64,
 28.89,
 29.64,
 29.14,
 30.64,
 31.64,
 31.89,
 31.39,
 32.14,
 33.14,
 34.39,
 9.58,
 36.39,
 11.33,
 12.33,
 12.83,
 13.58,
 13.83,
 13.08,
 39.89,
 39.14,
 14.58,
 14.08,
 15.83,
 15.08,
 15.58,
 15.33,
 9.52,
 9.77,
 10.77,
 10.27,
 12.77,
 12.52,
 13.52,
 13.77,
 13.27,
 14.52,
 14.02,
 15.52,
 15.77,
 15.02,
 15.27,
 16.77,
 16.02,
 16.27,
 17.02,
 17.52,
 17.77,
 17.27,
 18.27,
 18.52,
 18.02,
 18.77,
 19.52,
 19.02,
 19.77,
 19.27,
 20.27,
 20.52,
 21.77,
 21.02,
 22.02,
 22.27,
 23.02,
 25.52,
 26.27,
 27.27,
 28.77,
 28.02,
 29.52,
 29.77,
 31.77,
 31.27,
 16.9,
 16.15,
 16.65,
 16.4,
 17.4,
 17.15,
 17.9,
 17.65,
 18.65,
 18.9,
 18.15,
 19.4,
 20.65,
 20.9,
 21.4,
 22.4,
 22.15,
 28.15,
 28.4,
 28.65,
 29.65,
 30.65,
 31.4,
 31.65,
 31.15,
 32.52,
 32.77,
 32.9,
 33.65,
 33.02,
 34.4,
 34.9,
 34.27,
 34.65,
 35.27,
 35.77,
 36.77,
 37.52,
 38.65,
 38.27,
 40.4,
 40.52,
 16.28,
 16.03,
 16.53,
 16.78,
 17.78,
 17.53,
 18.78,
 18.53,
 18.28,
 19.28,
 19.03,
 19.78,
 20.78,
 21.53,
 21.78,
 22.78,
 22.28,
 23.28,
 26.53,
 27.03,
 28.03,
 28.28,
 29.53,
 29.78,
 30.78,
 31.53,
 32.53,
 32.28,
 32.41,
 32.03,
 33.66,
 33.03,
 35.03,
 36.53,
 36.03,
 37.41,
 12.97,
 13.72,
 13.22,
 39.03,
 39.66,
 14.97,
 14.22,
 14.72,
 40.53,
 15.47,
 10.16,
 11.41,
 12.91,
 12.66,
 13.66,
 13.16,
 14.66,
 14.41,
 14.91,
 15.91,
 15.66,
 15.16,
 15.41,
 16.41,
 16.16,
 16.66,
 16.91,
 17.66,
 17.91,
 17.41,
 17.16,
 18.91,
 18.66,
 18.41,
 19.66,
 19.16,
 19.91,
 20.41,
 20.66,
 20.91,
 21.16,
 21.41,
 27.91,
 28.66,
 28.41,
 29.66,
 31.66,
 31.91,
 9.1,
 11.85,
 11.1,
 12.6,
 12.85,
 13.6,
 13.85,
 13.1,
 13.35,
 14.35,
 14.1,
 14.6,
 14.85,
 15.35,
 15.1,
 15.6,
 15.85,
 11.29,
 12.79,
 12.54,
 13.54,
 13.79,
 13.29,
 14.79,
 14.04,
 14.54,
 15.04,
 15.79,
 15.54,
 15.29,
 16.79,
 16.54,
 16.04,
 16.29,
 17.29,
 17.04,
 17.54,
 18.54,
 18.04,
 19.54,
 19.29,
 19.79,
 19.04,
 20.04,
 20.29,
 21.04,
 22.29,
 23.54,
 26.29,
 26.54,
 27.79,
 27.29,
 27.54,
 28.29,
 29.29,
 30.54,
 30.79,
 30.04,
 31.79,
 31.04,
 31.54,
 32.54,
 32.29,
 33.04,
 35.54,
 35.29,
 38.29,
 38.79,
 16.67,
 16.17,
 16.92,
 16.42,
 17.92,
 17.17,
 17.67,
 17.42,
 18.42,
 18.67,
 18.92,
 18.17,
 19.67,
 19.42,
 19.17,
 19.92,
 20.42,
 20.17,
 20.92,
 22.67,
 22.42,
 26.42,
 26.92,
 27.17,
 27.42,
 28.42,
 28.92,
 29.92,
 30.67,
 30.92,
 30.17,
 31.17,
 31.42,
 31.67,
 32.05,
 33.42,
 33.55,
 34.67,
 34.92,
 35.3,
 36.17,
 36.92,
 36.67,
 37.8,
 38.67,
 39.17,
 40.55,
 41.05,
 9.05,
 9.3,
 10.8,
 10.55,
 12.55,
 12.3,
 13.3,
 13.55,
 13.05,
 13.8,
 14.8,
 14.05,
 14.3,
 14.55,
 15.8,
 15.05,
 15.55,
 15.3,
 16.55,
 16.3,
 16.8,
 16.05,
 17.05,
 17.8,
 17.3,
 18.8,
 18.3,
 18.55,
 18.05,
 19.55,
 19.05,
 19.3,
 20.3,
 20.05,
 21.05,
 26.55,
 26.3,
 27.3,
 27.05,
 27.8,
 29.05,
 30.8,
 31.05,
 9.49,
 10.99,
 10.49,
 13.74,
 13.99,
 13.49,
 13.24,
 14.99,
 14.49,
 15.99,
 15.24,
 15.74,
 15.49,
 9.68,
 9.18,
 10.43,
 11.18,
 13.18,
 13.68,
 13.93,
 13.43,
 14.68,
 14.93,
 14.43,
 15.43,
 15.68,
 15.18,
 15.93,
 16.68,
 16.43,
 16.18,
 17.18,
 17.68,
 17.93,
 17.43,
 18.43,
 18.93,
 18.18,
 18.68,
 19.43,
 19.68,
 21.18,
 21.93,
 21.68,
 22.18,
 23.43,
 23.18,
 24.93,
 26.18,
 26.68,
 27.93,
 27.68,
 28.18,
 29.18,
 29.93,
 30.43,
 30.93,
 30.68,
 31.93,
 32.68,
 32.93,
 32.43,
 33.93,
 9.62,
 35.18,
 10.12,
 13.62,
 13.12,
 13.87,
 13.37,
 14.87,
 14.12,
 14.62,
 15.87,
 15.12,
 15.37,
 15.62,
 16.81,
 16.56,
 16.31,
 17.31,
 17.56,
 17.06,
 17.81,
 18.81,
 18.06,
 18.31,
 19.06,
 19.81,
 20.56,
 21.31,
 21.06,
 22.31,
 24.31,
 26.06,
 26.31,
 27.81,
 28.81,
 29.31,
 30.56,
 30.06,
 30.81,
 8.85,
 9.6,
 10.6,
 9.94,
 12.94,
 13.33,
 14.83,
 15.65,
 15.72,
 15.9,
 15.17,
 10.19,
 11.94,
 12.72,
 13.97,
 15.22,
 15.97,
 32.56,
 32.69,
 33.44,
 34.44,
 36.19,
 38.31,
 38.44,
 38.56,
 39.31,
 16.94,
 16.44,
 16.69,
 16.19,
 17.19,
 17.44,
 17.69,
 17.94,
 18.19,
 18.69,
 18.44,
 18.94,
 19.19,
 20.94,
 20.69,
 20.19,
 21.69,
 22.69,
 22.44,
 22.19,
 26.94,
 27.44,
 27.69,
 27.94,
 28.94,
 29.19,
 29.44,
 30.94,
 30.44,
 30.69,
 31.94,
 31.19,
 9.38,
 11.38,
 12.13,
 12.63,
 12.88,
 13.38,
 14.63,
 14.13,
 14.88,
 14.38,
 15.63,
 15.13,
 15.88,
 15.38,
 10.32,
 10.82,
 12.32,
 12.57,
 12.07,
 13.57,
 13.82,
 14.32,
 14.82,
 14.57,
 15.82,
 15.57,
 15.32,
 15.07,
 16.07,
 16.57,
 16.32,
 17.82,
 17.57,
 17.07,
 18.32,
 18.07,
 18.57,
 18.82,
 19.32,
 19.07,
 22.57,
 23.07,
 24.07,
 26.32,
 27.07,
 27.82,
 28.57,
 28.07,
 28.82,
 29.82,
 30.32,
 31.82,
 32.82,
 32.57,
 33.32,
 33.57,
 9.51,
 36.32,
 11.51,
 12.26,
 13.76,
 13.51,
 39.57,
 39.82,
 14.76,
 14.51,
 15.01,
 15.51,
 15.26,
 15.76,
 9.45,
 9.7,
 10.95,
 10.2,
 10.45,
 11.2,
 12.95,
 12.45,
 13.7,
 13.95,
 14.95,
 14.7,
 14.2,
 15.7,
 15.45,
 15.2,
 15.95,
 16.95,
 16.7,
 17.45,
 17.7,
 17.95,
 17.2,
 18.7,
 18.45,
 18.95,
 18.2,
 19.45,
 21.95,
 22.2,
 26.7,
 27.7,
 27.95,
 28.45,
 28.2,
 29.95,
 30.45,
 30.2,
 30.7,
 31.2,
 16.08,
 16.83,
 16.33,
 16.58,
 17.08,
 17.33,
 18.08,
 18.33,
 18.83,
 19.33,
 19.58,
 20.08,
 20.83,
 20.33,
 21.08,
 22.83,
 23.33,
 26.83,
 27.83,
 28.08,
 28.83,
 29.08,
 30.33,
 30.83,
 31.33,
 31.08,
 32.95,
 32.33,
 32.45,
 32.83,
 33.2,
 33.33,
 33.58,
 34.08,
 35.2,
 35.83,
 38.83,
 39.33,
 40.58,
 40.45,
 42.83,
 10.21,
 12.21,
 13.46,
 13.21,
 14.46,
 14.71,
 14.21,
 14.96,
 15.71,
 15.21,
 15.96,
 15.46,
 16.21,
 16.71,
 16.46,
 17.46,
 17.96,
 17.71,
 18.21,
 18.96,
 18.46,
 18.71,
 19.21,
 20.71,
 20.96,
 20.46,
 20.21,
 21.71,
 23.96,
 23.46,
 26.96,
 26.71,
 26.21,
 27.96,
 27.46,
 27.21,
 28.71,
 29.46,
 29.21,
 29.96,
 30.21,
 30.46,
 30.71,
 31.21,
 32.21,
 32.71,
 32.96,
 33.71,
 9.4,
 9.9,
 35.71,
 10.4,
 11.9,
 12.65,
 13.15,
 13.9,
 14.15,
 14.9,
 15.4,
 15.15,
 10.59,
 10.84,
 11.34,
 11.09,
 12.59,
 12.84,
 13.84,
 13.09,
 13.34,
 13.59,
 14.59,
 14.09,
 14.34,
 14.84,
 15.34,
 15.59,
 15.09,
 15.84,
 16.09,
 16.59,
 16.84,
 16.34,
 17.84,
 17.59,
 17.09,
 17.34,
 18.84,
 18.59,
 19.09,
 20.59,
 21.09,
 22.84,
 22.59,
 22.09,
 23.59,
 26.09,
 27.59,
 27.84,
 27.09,
 27.34,
 28.59,
 29.09,
 30.59,
 30.09,
 31.59,
 10.28,
 11.03,
 12.78,
 13.03,
 14.03,
 14.78,
 14.53,
 15.28,
 15.03,
 15.78,
 15.53,
 16.97,
 16.47,
 16.22,
 16.72,
 ...}

In [74]:
round_gold.tail(60)

           Date      SPX     GLD    USO    SLV  EUR/USD
2230   2/9/2018  2619.55  124.77  11.86  15.39     1.23
2231  2/12/2018  2656.00  125.37  11.89  15.57     1.23
2232  2/13/2018  2662.94  126.08  11.87  15.62     1.23
2233  2/14/2018  2698.63  128.23  12.18  15.91     1.24
2234  2/15/2018  2731.20  128.38  12.33  15.91     1.25
2235  2/16/2018  2732.22  127.96  12.38  15.73     1.25
2236  2/20/2018  2716.26  126.24  12.39  15.54     1.24
2237  2/21/2018  2701.33  125.66  12.29  15.54     1.23
2238  2/22/2018  2703.96  126.30  12.59  15.66     1.23
2239  2/23/2018  2747.30  126.14  12.77  15.59     1.23
2240  2/26/2018  2779.60  126.45  12.86  15.68     1.23
2241  2/27/2018  2744.28  125.13  12.65  15.48     1.23
2242  2/28/2018  2713.83  125.00  12.37  15.46     1.22
2243   3/1/2018  2677.67  124.72  12.35  15.54     1.22
2244   3/2/2018  2691.25  125.39  12.37  15.56     1.23
2245   3/5/2018  2720.94  125.18  12.59  15.49     1.23
2246   3/6/2018  2728.12  126.53  12.57  15.78     1.23
2247   3/7/2018  2726.80  125.72  12.35  15.53     1.24
2248   3/8/2018  2738.97  125.42  12.15  15.55     1.24
2249   3/9/2018  2786.57  125.54  12.47  15.63     1.23
2250  3/12/2018  2783.02  125.54  12.37  15.61     1.23
2251  3/13/2018  2765.31  125.78  12.24  15.61     1.23
2252  3/14/2018  2749.48  125.70  12.28  15.61     1.24
2253  3/15/2018  2747.33  124.90  12.34  15.45     1.24
2254  3/16/2018  2752.01  124.60  12.55  15.39     1.23
2255  3/19/2018  2712.92  124.87  12.55  15.39     1.23
2256  3/20/2018  2716.94  124.31  12.81  15.28     1.23
2257  3/21/2018  2711.93  126.48  13.18  15.65     1.23
2258  3/22/2018  2643.69  125.98  12.95  15.44     1.23
2259  3/23/2018  2588.26  127.61  13.28  15.58     1.23
2260  3/26/2018  2658.55  128.28  13.21  15.72     1.25
2261  3/27/2018  2612.62  127.49  13.08  15.57     1.24
2262  3/28/2018  2605.00  125.73  13.04  15.36     1.23
2263  3/29/2018  2640.87  125.79  13.09  15.41     1.23
2264   4/2/2018  2581.88  127.26  12.74  15.65     1.23
2265   4/3/2018  2614.45  126.30  12.81  15.46     1.23
2266   4/4/2018  2644.69  126.45  12.82  15.38     1.23
2267   4/5/2018  2662.84  125.80  12.83  15.45     1.23
2268   4/9/2018  2613.16  126.82  12.77  15.56     1.23
2269  4/10/2018  2656.87  127.12  13.25  15.62     1.24
2270  4/11/2018  2642.19  128.11  13.45  15.69     1.24
2271  4/12/2018  2663.99  126.62  13.52  15.52     1.23
2272  4/16/2018  2677.84  127.63  13.38  15.72     1.24
2273  4/17/2018  2706.39  127.75  13.41  15.80     1.24
2274  4/18/2018  2708.64  127.85  13.88  16.18     1.24
2275  4/19/2018  2693.13  127.60  13.77  16.26     1.23
2276  4/23/2018  2670.29  125.62  13.92  15.67     1.22
2277  4/24/2018  2634.56  126.23  13.68  15.76     1.22
2278  4/25/2018  2639.40  125.41  13.72  15.61     1.22
2279  4/26/2018  2666.94  124.97  13.77  15.58     1.21
2280  4/30/2018  2648.05  124.59  13.80  15.38     1.21
2281   5/1/2018  2654.80  123.71  13.61  15.24     1.20
2282   5/2/2018  2635.67  123.65  13.67  15.42     1.20
2283   5/3/2018  2629.73  124.28  13.82  15.46     1.20
2284   5/7/2018  2672.63  124.57  14.10  15.52     1.19
2285   5/8/2018  2671.92  124.59  14.06  15.51     1.19
2286   5/9/2018  2697.79  124.33  14.37  15.53     1.18
2287  5/10/2018  2723.07  125.18  14.41  15.74     1.19
2288  5/14/2018  2730.13  124.49  14.38  15.56     1.19
2289  5/16/2018  2725.78  122.54  14.41  15.45     1.18