In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import random

In [73]:
url2= 'https://www.thebalance.com/oil-price-history-3306200'

In [74]:
html2 = requests.get(url2).content
soup2 = BeautifulSoup(html2, 'html.parser')

In [75]:
names = soup2.find_all('table', {'class':'mntl-sc-block-table__table'})

In [76]:
year = pd.DataFrame([x.find("td").text for x in soup2.find("div", 
                                                    "mntl-sc-block-table__table-wrapper").find_all("tr")[1:]]).rename(columns=({0:"year"}))

In [77]:
soup2.find("div", "mntl-sc-block-table__table-wrapper").find_all("tr")[1].find_all("td")[1].text

'\xa0 $2.96'

In [92]:
average = pd.DataFrame([x.find_all("td")[1].text.replace("\xa0", "").replace('$','') for x in soup2.find("div",
                                                                  "mntl-sc-block-table__table-wrapper").find_all("tr")[1:]]).rename(columns=({0:"average"}))
average

   average
0     2.96
1     3.17
2     3.22
3     4.08
4    12.52
5    13.95
6    13.48
7    14.53
8    14.57
9    21.57
10   33.86
11   37.10
12   33.57
13   29.31
14   28.88
15   26.99
16   13.93
17   18.14
18   14.60
19   18.07
20   21.73
21   18.73
22   18.21
23   16.13
24   15.54
25   17.14
26   20.62
27   18.49
28   12.07
29   17.27
30   27.72
31   21.99
32   23.71
33   27.73
34   35.89
35   48.89
36   59.05
37   67.19
38   92.57
39   59.04
40   75.83
41  102.58
42  101.09
43   98.12
44   89.63
45   46.34
46   38.70
47   48.98
48   61.34
49   57.94
50   26.10

In [93]:
low = pd.DataFrame([x.find_all("td")[2].text.replace("\xa0", "").replace('$','') for x in soup2.find("div", 
                                                           "mntl-sc-block-table__table-wrapper").find_all("tr")[1:]]).rename(columns=({0:"low"}))

low

      low
0    N.A.
1    N.A.
2    N.A.
3    N.A.
4    9.59
5   12.77
6   13.26
7   14.11
8   14.40
9   15.50
10  30.75
11  35.43
12  32.78
13  27.95
14  28.02
15  26.21
16  10.91
17  16.45
18  12.66
19  16.04
20  15.15
21  17.17
22  16.00
23  12.56
24  12.90
25  16.29
26  17.48
27  15.95
28   9.39
29  10.16
30  24.29
31  15.95
32  17.04
33  24.48
34  30.11
35  37.56
36  52.70
37  49.57
38  35.59
39  36.84
40  71.15
41  87.61
42  92.18
43  90.36
44  57.36
45  33.16
46  26.66
47  44.03
48  42.80
49  49.57
50  53.62

In [94]:
high = pd.DataFrame([x.find_all("td")[3].text.replace("\xa0"
                                               , "").replace('$','').replace('$','') for x in soup2.find("div", 
                                                                         "mntl-sc-block-table__table-wrapper").find_all("tr")[1:]]).rename(columns=({0:"high"}))
high

      high
0     N.A.
1     N.A.
2     N.A.
3     N.A.
4    13.06
5    15.04
6    13.71
7    14.76
8    14.94
9    28.91
10   35.63
11   39.00
12   35.54
13   31.40
14   29.26
15   27.59
16   24.93
17   19.32
18   15.93
19   20.05
20   32.88
21   22.30
22   19.83
23   18.35
24   17.52
25   18.56
26   23.22
27   23.02
28   14.33
29   24.35
30   30.56
31   24.97
32   27.14
33   32.23
34   45.36
35   58.79
36   67.99
37   85.53
38  127.77
39   74.40
40   85.59
41  113.02
42  108.54
43  104.16
44  100.26
45   58.89
46   46.72
47   57.44
48   67.79
49   65.42
50   16.35

In [95]:
cause = pd.DataFrame([x.find_all("td")[4].text.replace("\xa0'", "").replace('$','') for x in soup2.find("div", 
                                                           "mntl-sc-block-table__table-wrapper").find_all("tr")[1:]]).rename(columns=({0:"causes"}))

cause

                                        causes
0                             Regulated prices
1
2
3
4                       OPEC oil embargo ended
5                                  Stagflation
6                            Economy recovered
7                 Fed raised and lowered rates
8                 Fed raised and lowered rates
9                  Iran-Iraq War, fed rate 20%
10                            Iran oil embargo
11                            Reagan cut taxes
12                    Recession ends inflation
13
14
15
16
17                        OPEC added to supply
18
19
20                                    Gulf War
21                            SPR released oil
22
23
24         NAFTA allowed cheap oil from Mexico
25
26
27
28
29                              Prices doubled
30
31                          Recession and 9/11
32                             Afghanistan War
33
34
35                           Hurricane Katrina
36                  Bernanke becomes Fed chair
37                              Banking crisis
38                            Financial crisis
39                             Great Recession
40
41
42           Iran threatened Straits of Hormuz
43
44                         The dollar rose 15%
45                    U.S. shale oil increased
46                                 Dollar fell
47   OPEC cut oil supply to keep prices stable
48
49
50  As of April 2020. Pandemic reduced demand.

In [161]:
df = pd.concat([year, average, low, high, cause], axis = 1)

In [162]:
df.head()

   year average    low   high                  causes
0  1970    2.96   N.A.   N.A.        Regulated prices
1  1971    3.17   N.A.   N.A.
2  1972    3.22   N.A.   N.A.
3  1973    4.08   N.A.   N.A.
4  1974   12.52   9.59  13.06  OPEC oil embargo ended

# Changing columns type

In [163]:
# All the data types are in object so we have to convert them back to int and float base on the each columns values
df.average = df.average.astype(float)
df.year = df.year.astype('int64')

In [164]:
df["low"].value_counts().keys()

Index([' N.A.', '49.57', '15.95', '16.29', '14.40', '87.61', '15.50', '35.43',
       '37.56', '26.66', '12.56', '13.26', '17.04', '36.84', '27.95', '30.75',
       '9.39', '35.59', '16.04', '24.48', '90.36', '71.15', '57.36', '30.11',
       ' 9.59', '44.03', '17.48', '17.17', '12.66', '16.45', '53.62', '28.02',
       '12.90', '24.29', '52.70', '42.80', '15.15', '26.21', '14.11', '12.77',
       '10.91', '16.00', '33.16', '32.78', '10.16', '92.18'],
      dtype='object')

In [165]:
df.loc[df["low"] == " N.A.", ["low","high"]] = 0

In [1]:
df.tail(30)

NameError: name 'df' is not defined

In [167]:
df.low = df.low.astype(float)
df.high = df.high.astype(float)

In [168]:
df.isnull().sum()

year       0
average    0
low        0
high       0
causes     0
dtype: int64

In [169]:
# df.groupby(['causes'])['low','high'].mean()

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     51 non-null     int64
 1   average  51 non-null     float64
 2   low      51 non-null     float64
 3   high     51 non-null     float64
 4   causes   51 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 2.1+ KB

In [171]:
df.to_csv('oil.price_csv')

In [4]:
new = pd.read_csv('oil.price_csv')
new

,Unnamed: 0,year,average,low,high,causes
0,0,1970,2.96,0.00,0.00,Regulated prices
1,1,1971,3.17,0.00,0.00,
2,2,1972,3.22,0.00,0.00,
3,3,1973,4.08,0.00,0.00,
4,4,1974,12.52,9.59,13.06,OPEC oil embargo ended
5,5,1975,13.95,12.77,15.04,Stagflation
6,6,1976,13.48,13.26,13.71,Economy recovered
7,7,1977,14.53,14.11,14.76,Fed raised and lowered rates
8,8,1978,14.57,14.40,14.94,Fed raised and lowered rates
9,9,1979,21.57,15.50,28.91,"Iran-Iraq War, fed rate 20%"
10,10,1980,33.86,30.75,35.63,Iran oil embargo
11,11,1981,37.10,35.43,39.00,Reagan cut taxes
12,12,1982,33.57,32.78,35.54,Recession ends inflation
13,13,1983,29.31,27.95,31.40,
14,14,1984,28.88,28.02,29.26,
15,15,1985,26.99,26.21,27.59,
16,16,1986,13.93,10.91,24.93,
17,17,1987,18.14,16.45,19.32,OPEC added to supply
18,18,1988,14.60,12.66,15.93,
19,19,1989,18.07,16.04,20.05,
20,20,1990,21.73,15.15,32.88,Gulf War
21,21,1991,18.73,17.17,22.30,SPR released oil
22,22,1992,18.21,16.00,19.83,
23,23,1993,16.13,12.56,18.35,
24,24,1994,15.54,12.90,17.52,NAFTA allowed cheap oil from Mexico
25,25,1995,17.14,16.29,18.56,
26,26,1996,20.62,17.48,23.22,
27,27,1997,18.49,15.95,23.02,
28,28,1998,12.07,9.39,14.33,
29,29,1999,17.27,10.16,24.35,Prices doubled
30,30,2000,27.72,24.29,30.56,
31,31,2001,21.99,15.95,24.97,Recession and 9/11
32,32,2002,23.71,17.04,27.14,Afghanistan War
33,33,2003,27.73,24.48,32.23,
34,34,2004,35.89,30.11,45.36,
35,35,2005,48.89,37.56,58.79,Hurricane Katrina
36,36,2006,59.05,52.70,67.99,Bernanke becomes Fed chair
37,37,2007,67.19,49.57,85.53,Banking crisis
38,38,2008,92.57,35.59,127.77,Financial crisis
39,39,2009,59.04,36.84,74.40,Great Recession
40,40,2010,75.83,71.15,85.59,
41,41,2011,102.58,87.61,113.02,
42,42,2012,101.09,92.18,108.54,Iran threatened Straits of Hormuz
43,43,2013,98.12,90.36,104.16,
44,44,2014,89.63,57.36,100.26,The dollar rose 15%
45,45,2015,46.34,33.16,58.89,U.S. shale oil increased
46,46,2016,38.70,26.66,46.72,Dollar fell
47,47,2017,48.98,44.03,57.44,OPEC cut oil supply to keep prices stable
48,48,2018,61.34,42.80,67.79,
49,49,2019,57.94,49.57,65.42,
50,50,2020,26.10,53.62,16.35,As of April 2020. Pandemic reduced demand.