### In this lab we need to import the following libs:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import html5lib   # this lib helps to generate the table directly from the URL

In [3]:
url= 'https://www.eia.gov/dnav/pet/hist/rwtcD.htm'

In [4]:
#We use the read_html method of the Pandas library to read the HTML tables.this will return a list of df.
#skiprows skip anyrow we wish, here we set it to 0 because we need all of it(we dont need it here).
#header makes the heads of the columns
# we need to add [0] if need to select first item of returened list, because read_html return list of DataFrames:

 
df = pd.read_html(url, header=0)[5]
df

                    Week Of    Mon    Tue    Wed    Thu    Fri
0     1985 Dec-30 to Jan- 3    NaN    NaN    NaN  25.56  26.00
1     1986 Jan- 6 to Jan-10  26.53  25.85  25.87  26.03  25.65
2     1986 Jan-13 to Jan-17  25.08  24.97  25.18  23.98  23.63
3     1986 Jan-20 to Jan-24  21.33  20.61  20.25  19.93  19.45
4     1986 Jan-27 to Jan-31  20.87  19.45  19.61  19.58  18.95
...                     ...    ...    ...    ...    ...    ...
2174  2020 Sep-21 to Sep-25  39.26  39.55  39.92  40.11  40.06
2175  2020 Sep-28 to Oct- 2  40.47  39.03  40.05  38.51  36.90
2176  2020 Oct- 5 to Oct- 9  39.12  40.52  39.82  41.04  40.44
2177                    NaN    NaN    NaN    NaN    NaN    NaN
2178  2020 Oct-12 to Oct-16  39.22  40.03    NaN    NaN    NaN

[2179 rows x 6 columns]

In [5]:
# check for Nan(missing values)
df.isnull().sum()

Week Of    363
Mon        518
Tue        379
Wed        381
Thu        408
Fri        442
dtype: int64

In [6]:
df = df.rename(columns={'Mon':'Oil_Price'})
df

                    Week Of  Oil_Price    Tue    Wed    Thu    Fri
0     1985 Dec-30 to Jan- 3        NaN    NaN    NaN  25.56  26.00
1     1986 Jan- 6 to Jan-10      26.53  25.85  25.87  26.03  25.65
2     1986 Jan-13 to Jan-17      25.08  24.97  25.18  23.98  23.63
3     1986 Jan-20 to Jan-24      21.33  20.61  20.25  19.93  19.45
4     1986 Jan-27 to Jan-31      20.87  19.45  19.61  19.58  18.95
...                     ...        ...    ...    ...    ...    ...
2174  2020 Sep-21 to Sep-25      39.26  39.55  39.92  40.11  40.06
2175  2020 Sep-28 to Oct- 2      40.47  39.03  40.05  38.51  36.90
2176  2020 Oct- 5 to Oct- 9      39.12  40.52  39.82  41.04  40.44
2177                    NaN        NaN    NaN    NaN    NaN    NaN
2178  2020 Oct-12 to Oct-16      39.22  40.03    NaN    NaN    NaN

[2179 rows x 6 columns]

In [7]:
# mean_oil_price = subset['Oil_Price'].mean()
print(df['Oil_Price'].mean())

43.7411258278146

In [8]:
# Replacing Nan(missing values) with the mean of the column(Oil_Price)

# df['Oil_Price'].fillna(43.74, inplace=True)

In [9]:
# Checking if Nan is replaced with our mean 

df.isnull().sum()

Week Of      363
Oil_Price    518
Tue          379
Wed          381
Thu          408
Fri          442
dtype: int64

In [10]:
# checking the columns names
df.columns

Index(['Week Of', 'Oil_Price', 'Tue', 'Wed', 'Thu', 'Fri'], dtype='object')

In [11]:
# subsetting the column 'Oil_Price'. Assigned 'df' to a new variable 'subset'
subset = df.loc[:, 'Oil_Price']
subset

0         NaN
1       26.53
2       25.08
3       21.33
4       20.87
        ...
2174    39.26
2175    40.47
2176    39.12
2177      NaN
2178    39.22
Name: Oil_Price, Length: 2179, dtype: float64

In [13]:
subset.to_csv('cleaned_oil_data.csv', index=False)

### Importing Silver csv file that was extracted from a webpage

In [ ]:
silver = pd.read_csv('gld_price_data.csv')
silver

In [ ]:
# extracting column('Date' & 'SLV')
silver_1 = silver.loc[:, ['Date', 'SLV']]
silver_1

In [ ]:
# to match the size of both DataFrames, we extract the desired number of rows(2179)
silver_2 = silver_1.loc[0:2178]
silver_2

In [ ]:
silver_2['Date']= pd.to_datetime(silver_2['Date'])
silver_2

In [ ]:
#  In the case of extracting just the year from the column('Date')
# silver_2['Year'] = silver_2['Date'].dt.year
# silver_2

In [ ]:
semi_final = pd.concat([silver_2, subset], axis=1)
semi_final

In [ ]:
#  Rounding the column('SLV', 'Oil_Price') to 2 decimal place
final = semi_final.round({'SLV':2, 'Oil_Price':2})
final

In [ ]:
final['Year'] = final['Date'].dt.year
final

In [ ]:
final.plot(x ='Date', y=['Oil_Price','SLV'], figsize=(14,8))
plt.title('Oil and Silver Price')
plt.ylabel('USD')
plt.show()

In [ ]:
# we applied this function to get rid of $ signs:
#df1.Average = df1.Average.str.replace('$','').astype(float)
#df1.Low = df1.Low.str.replace('$','').astype(float)
#df1.High = df1.High.str.replace('$','').astype(float)

In [ ]:
#this is to save the OilPrice column into CSV:
final.to_csv('final.data.project_csv',index=False)